<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Courses taken by students</title>
    </head>
    <body>
        <table>
            <th>
                <tr>
                    <th>Course Id</th>
                    <th>Student Id</th>
                </tr>
            </th>
            <tbody>
                {% for i in course_takers_list %}
                <tr>
                    <td>{{i.course_id}}</td>
                    <td>{{i.user_id}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>