{% load static %}

{% block content %}

<h1>Student database manager</h1>
<a href="{% url 'users' %}">List of students at McGill</a> <br>
<a href="{% url 'courses' %}">List of courses available at McGill</a> <br>
<a href="{% url 'course_takers' %}">List of students taking specific courses</a> <br>
<a href="{% url 'newUser' %}">Add a new Student to the database</a> <br>
<a href="{% url 'newCourse' %}">Add a new Course</a> <br>
<a href="{% url 'newCourse_taker' %}">Add a Student to a course</a>

{% endblock %}