{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Students at McGill</title>
    </head>
    <body>
        <table>
            <th>
                <tr>
                    <th>Id</th>
                    <th>Birth Year</th>
                    <th>Nationality</th>
                    <th>Full Name</th>
                </tr>
            </th>
            <tbody>
                {% for i in users_list %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.birth_year}}</td>
                    <td>{{i.nationality}}</td>
                    <td>{{i.fullname}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>

{% endblock %}