<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Courses taken by students</title>
    </head>
    <body>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Course Id</th>
                    <th scope="col">Student Id</th>
                </tr>
            </thead>
            <tbody>
                {% for i in course_takers_list %}
                <tr>
                    <th scope="row">{{i.course_id}}</th>
                    <td scope="row">{{i.user_id}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>