{% load static %}

{% block content %}
<style>
    .container {
        margin: auto;
        border: 3px solid rgb(255, 255, 255);
        padding: 10px;
        height: 75%;
        width: 50%;
        background-color: rgb(253, 139, 139);

    }
    .centered_text {
        text-align: center;
        border: 3px solid rgb(255, 255, 255);
    }
    .text_field {
        margin: auto;
        position: relative;
        top: 200px;
        text-align: center;
        background-color: rgb(253, 139, 139);
        border: 3px solid rgb(253, 139, 139);
    }
</style>
<body style="background-color: rgb(255, 0, 0)">
    <h1 class ="centered_text" style="color:rgb(255, 255, 255); font-family:Palatino;background-color:red;">STUDENT DATABASE MANAGER</h1>
    <div class="container">
        <div class="text_field">
            <a href="{% url 'users' %}">List of students at McGill</a> <br>
            <a href="{% url 'courses' %}">List of courses available at McGill</a> <br>
            <a href="{% url 'course_takers' %}">List of students taking specific courses</a> <br>
            <a href="{% url 'newUser' %}">Add a new Student to the database</a> <br>
            <a href="{% url 'newCourse' %}">Add a new Course</a> <br>
            <a href="{% url 'newCourse_taker' %}">Add a Student to a course</a>
        </div>
    </div>
</body>

{% endblock %}