<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>

<body>
    <h1>Main Menu</h1>

    <table width = 80%, align="center">
        <tr>
            <th>Personal Menu</th>
            <th>Student Menu</th>
            <th>Application Menu</th>
            <th>Financial Aid & Awards Menu</th>
            <a href"{% url 'homepage' %}">Student Database Manager<a/>
        </tr>
        
    </table>
</body>
</html>
